.main-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  background-color: white;
  background: url("./homepage1.jpg") no-repeat center center fixed; 
  background-size: contain;
} 

.welcome {
  /* display: block; */
  font-family: Times;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 1.5em;
}

.one { 
  justify-content: center;
  font-style: normal;
  align-self: flex-end;
}


.main-pics-cont{
  display: flex;
  justify-content: center;
}

.car-pix{
  width: 300px;
  height: 200px;
  /* margin-bottom: 10.5%; */
  border: 5px solid white;
  box-shadow: 10px 10px 10px #888888;
  margin-right: 7px;
}

.buttons-cont{
  margin-bottom: 200px;
}